{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <div>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'aboutUs' %}">О нас</a>
            <a href="{% url 'products' %}">Товары</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</body>

</html>