{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="search">
            <form action="{% url 'search' %}">
                <input type="text" name="search">
                <button type="submit">Поиск</button>
            </form>
        </div>
        <div>
            {% if request.user %}
                {{ request.user.username }}
            {% endif %}
            {% if request.user.id %}
                <a href="{% url 'profile' user.id %}">Профиль</a>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'register' %}">Зарегистрироваться</a>
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </div>
        <div>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'aboutUs' %}">О нас</a>
            <a href="{% url 'products' %}">Товары</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
</body>

</html>